<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1095596312064-o6c954eb876q84elit8h6jmeouk9p3cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095596312064-o6c954eb876q84elit8h6jmeouk9p3cn</string>
	<key>API_KEY</key>
	<string>AIzaSyBOBKsN4WVit3F_sOu_jxyy8N40XSkENiM</string>
	<key>GCM_SENDER_ID</key>
	<string>1095596312064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dataviet.vn.TestMess</string>
	<key>PROJECT_ID</key>
	<string>lc-nails</string>
	<key>STORAGE_BUCKET</key>
	<string>lc-nails.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095596312064:ios:b8286398a07de8f8</string>
	<key>DATABASE_URL</key>
	<string>https://lc-nails.firebaseio.com</string>
</dict>
</plist>